<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<!-- PURELY WRAPPER / LAUNCHER FOR KMP LIBRARY   -->

    <!--PERMS-->
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->


    <application
        android:name="kmptmp.composeapp.AppContainerClass"

        android:icon="@android:drawable/arrow_up_float"
        android:roundIcon="@android:drawable/arrow_down_float"

        android:label="KmpTmp"

        android:theme="@style/Theme.AppCompat.NoActionBar"
    >


        <!--exported == let other apps access/run it-->
        <activity android:name="kmptmp.composeapp.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Receiver here to work even if app destroyed! -->
<!--        <receiver android:name=".Receiver.NotiReceiver"></receiver>-->
        <!-- Declare foreground to work even if app destroyed! -->
<!--        <service android:name=".Service.myCallService" android:foregroundServiceType="dataSync" />-->

    </application>

</manifest>